{% extends 'catalog/base.html' %}

{% block title %}{% if kefir %}Редактирование {{ kefir.brand }}{% else %}Добавление товара{% endif %}{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>{% if kefir %}Редактирование {{ kefir.brand }}{% else %}Добавление товара{% endif %}</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            {% if field.name != 'created_by' %}  {# Скрываем поле created_by #}
                <div class="mb-3">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
        <button type="submit" class="btn btn-primary">Сохранить</button>
        <a href="{% if kefir %}{% url 'kefir_detail' kefir.pk %}{% else %}{% url 'home' %}{% endif %}" class="btn btn-secondary">Отмена</a>
        
        {% if kefir and can_delete %}
        <button type="button" class="btn btn-danger float-end" data-bs-toggle="modal" data-bs-target="#deleteModal">
            Удалить товар
        </button>
        
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Подтверждение удаления</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Вы уверены, что хотите удалить товар "{{ kefir.brand }}"?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                        <form method="post" action="{% url 'delete_kefir' kefir.pk %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Удалить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </form>
</div>
{% endblock %}